<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
  <div id="app">

    <main class="container">
      <section id="search">
        <form action="" method="">
          <input type="text" class="search-input" />
          <button type="submit">Search</button>
        </form>
      </section>
    </main>

    <footer class="container">
      <div class="socials">
        <a href="https://instagram.com/5gspt">
          <img src="@/assets/icons/instagram.png" alt="Instagram" height="30" />
        </a>

        <a href="https://facebook.com/5gspt">
          <img src="@/assets/icons/fb.png" alt="Facebook" height="30" />
        </a>

        <a href="https://twitter.com/galihsptr320">
          <img src="@/assets/icons/twitter.png" alt="Twitter" height="30" />
        </a>

        <a href="https://youtube.com/@galihsptr320">
          <img src="@/assets/icons/youtube.png" alt="Youtube" height="30" />
        </a>

        <a href="https://linkedin.com/in/galihsptr320">
          <img src="@/assets/icons/linkedin.png" alt="LinkedIn" height="30" />
        </a>
      </div>

      <p>Copyright &copy; 2024</p>
      <p>Designed by <a href="https://galih.me" class="url-primary">Galih Sukristyan Saputra</a></p>
    </footer>
  </div>
</body>

</html>