@import './base.css';

#app {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--vt-c-text-light-1);
}

header.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.header-nav a:not(:last-child) {
  padding-right: 20px;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}